
@font-face {
  font-family: 'KH Teka';
  src: url('KH-Teka.woff2') format('woff2');
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'KH Teka', sans-serif;
  transition: background 1s ease-in-out;
  min-height: 100vh
}

body.morning {
  background: linear-gradient(to bottom, #ff9a8b, #ff6a88);
}

body.day {
  background: linear-gradient(to bottom, #87ceeb, #87a8eb);
}

body.evening {
  background: linear-gradient(to bottom, #ff7e5f, #feb47b);
}

body.night {
  background: linear-gradient(to bottom, #557a9f, #3e6184);
}

body.night .logo {
  color: white;
}

.logo {
  font-family: 'KH Teka', sans-serif;
  font-size: 32px;
  font-weight: 900;
  color: black;
  position: relative;
  top: 10px;
  left: 20px;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Empêche l'interaction avec les nuages */
}

.cloud {
  position: absolute;
  fill: white;
  opacity: 0.6;
  transition: left 0.1s linear;
  transition: transform 0.3s ease
}

.menu {
  width: 700px;
  position: relative;
  text-align: center;
  padding: 30px 0px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  margin: 100px auto 0 auto; 
  backdrop-filter: blur(10px);
}

.menu h2 {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
}

.menu-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 3px auto;
  font-size: 18px;
  padding: 7px;
  color: black;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.menu-item-info{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.menu-ingredients{
  font-size: 14px;
  text-align: left;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.contact-footer {
  position: relative;
  text-align: center;
  padding: 20px;
  background: black;
  color: white;
  margin-top: 100px;
  min-height: 100px; /* Assure-toi que le footer ait une hauteur minimale */
}

.footer {
  font-size: 14px;
  opacity: 0.7;
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.contact a, .contact p {
  font-size: 18px;
  margin: 10px 0;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact a:hover, .contact p:hover {
  color: #e2e2e2;
}

body.morning a:hover, .contact p:hover {
  color: #ff6a88;
}

body.day a:hover, .contact p:hover {
  color: #98baff;
}

body.evening a:hover, .contact p:hover {
  color: #feb47b;
}

body.night a:hover, .contact p:hover {
  color: #ebe887;
}

.contact i {
  font-size: 22px;
}

@media (max-width: 700px) {
  .menu {
    width: 100vw;
    border-radius: 0;
  }

  .menu-item {
    margin: 5px 0px;
  }

  .cloud {
    width: 120px;
    height: 70px;
  }

  #cloud1 {
    width: 120px;
    height: 70px;
  }
  #cloud2 {
    width: 140px;
    height: 80px;
  }
  #cloud3 {
    width: 130px;
    height: 75px;
  }
  #cloud4 {
    width: 160px;
    height: 95px;
  }
  #cloud5 {
    width: 110px;
    height: 65px;
  }
  #cloud6 {
    width: 150px;
    height: 85px;
  }
  #cloud7 {
    width: 130px;
    height: 75px;
  }

}
